.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    margin: 2rem 1rem;
}

.header h1 {
    font-size: 1.5rem;
}


.header button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    color: var(--clr-text-highlight);
}

.header button:focus,
.header button:hover {
    color: var(--clr-accent);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.unread {
    padding: 0.125em 0.5em;

    border-radius: 0.25rem;

    font-weight: bold;
    color: var(--clr-main-bg);
    background: var(--clr-accent);
}